body
{
    background-color: lightsteelblue;
}

.con
{
    background-color: darkkhaki;
    display: flex;
    margin: auto;
    width: fit-content;
    margin-top: 8rem;
    padding: 80px;
    border: solid 2px black;
    border-radius: 5px;
}

input
{
    padding: 10px;
    font-size: 20px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 8px;
}